*.swp
*.swo
*.swn
*.swm
*.o
*.pyc
*.gch
eos.log
*.swl
.make_include_paths.sh
.include_paths.txt
.include_paths_exclude.txt
.include_paths_other.txt
.include_paths_generated.txt
.paths.txt
.alternate_paths.txt
.setup_project_vimfiles.sh
.setup_generated_paths.sh
.build_args*.txt
.*_exe_path.txt
TODO_.txt
build
build-*
build_*
*~*
dummy_include
*.bak*
Makefile
get_ros_version.sh
# I sometimes do global find-replace by making sedfiles; ignore the invisible ones
.*.sed
TODO*
CLAUDE.local.md
.claude
